<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input new words!">
            <nz-input-group>
                <label>New word</label>
                <input type="text" nz-input formControlName="word" placeholder="Từ mớimới" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input meaning of new word!">
            <nz-input-group>
                <label>Meaning</label>
                <input type="text" nz-input formControlName="meaning" placeholder="Nghĩa" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify="end">
        <button nz-button class="login-form-button login-form-margin" nzType="primary">Add</button>
        <button nz-button nzType="primary" style="margin-left: 15px;" nzDanger (click)="delete()">Delete</button>
    </div>
</form>